@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.container {
  position: absolute;
  top: 38vh;
  left: 12vw;
  font-family: "Ubuntu", sans-serif;
  z-index: -1;
}

.home_p1 {
  font-size: 2vw;
  color: crimson;
  margin-bottom: 2vh;
}
.home_p2 {
  font-size: 3vw;
  margin-bottom: 3vh;
}
.home_p2_span {
  font-size: 5vw;
}
.home_p2_span1 {
  font-size: 4vw;
  margin-left: 1vw;
}
.home_p3 {
  font-size: 2vw;
  margin: 1vh 0vw;
}
.home_p3_span {
  color: crimson;
}
.home_p4 {
  font-size: 1.4vw;
  color: darkgray;
}
.home_p5 {
  margin-top: 2vh;
  display: flex;
}
.svg {
  width: 2.2vw;
  padding-right: 20px;
}
.svg_1:hover {
  fill: #0a66c2;
}
.svg_2:hover {
  fill: #cf18b1;
}
.svg_3:hover {
  fill: #1da1f2;
}
.svg_4:hover {
  fill: green;
}
.svg:hover {
  transform: scale(1.3);
  cursor: pointer;
}
.about_me {
  padding: auto;
  padding: 1vh 2vw;
  margin-top: 2vh;
  border-radius: 18px;
  outline: none;
  background: crimson;
  color: wheat;
  font-size: medium;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
  border: 2px solid crimson;
}
.about_me:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
  transition: all 0.4s;
  cursor: pointer;
}
.photo {
  width: 25vw;
  position: absolute;
  top: 20vh;
  left: 63vw;
  z-index: -1;
}










@media (max-width: 550px) {
  .container {
    top: 14vh;
  }
  .home_p1 {
    font-size: 4vw;
  }
  .home_p2 {
    font-size: 5vw;
  }
  .home_p2_span {
    font-size: 9vw;
  }
  .home_p2_span1 {
    font-size: 7vw;
  }
  .home_p3 {
    font-size: 4vw;
  }
  .home_p4 {
    font-size: 2.4vw;
  }
  .photo {
    width: 47vw;
    top: 70vh;
    left: 28vw;
  }
  .about_me {
    font-size: 3vw;
  }
  .svg {
    width: 4.2vw;
  }
}
@media (max-width: 400px) {
  .svg {
    padding-right: 10px;
  }
  .about_me {
    font-size: 3.2vw;
    padding: 1.5vh 7vw;
  }
  .home_p1 {
    font-size: 6vw;
  }
  .home_p2 {
    font-size: 6vw;
  }
  .home_p3 {
    font-size: 5vw;
  }
  .home_p4 {
    font-size: 3.4vw;
  }
  .photo {
    width: 63vw;
    top: 60vh;
    left: 20vw;
  }
}
